@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cal+Sans&family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-titles: "Cal Sans";
  --font-text: "Archivo";
  --font-heading: "DM Serif Text";

  --color-white-smoke: #f5f6f4;
  --color-rich-black: #040A10;
  --color-berekley-blue: #1D3557;
}