@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Ranchers&display=swap');
@import "tailwindcss";

@theme {
  --font-titles: "Lato";
  --font-text: "Oswald";
  --font-headings: "Ranchers";

  --color-white-smoke: #f5f6f4;
  --color-rich-black: #040A10;
  --color-berekley-blue: #1D3557;
}